/* -------------------------------COLOURS 
#c92324
#084208
*/

html {
    height: 100%;
    width: 100%;
  }
  
  *{
    margin: 0;
    padding: 0;
    border: 0;
  }
  
  body 
   { 
    background-color: #ea861a;
   background-repeat: no-repeat;
   font-family: "Viga", sans-serif;
   }

    /*----------------------NAVIGATION BAR */
    
    .navbar {
      background-color: #084208;
      border-bottom: 10px dotted #c92324;
      position: sticky;
      top: 0;
      display: inline-block;
            }

    #logo {
      color: #c92324;
      font-family: "Viga", sans-serif;
      text-align: left;
      display: inline-block;
        }

    #menu-button {
      color: #f4f7f9;
      background-color: #c92324;
      text-align: center;
      margin-right: 10px;
      text-transform: uppercase;
      
    }

    #search-button {
      background-color: #c92324;
      text-align: center;
      color: #f4f7f9;
      text-transform: uppercase;
          }

          /*----------------------FOOTER */

footer {
  background-color: black;
  height: 50px;
}