/* -------------------------------COLOURS 
#c92324
#084208
#ea861a
#f4f7f9;
*/

html {
    height: 100%;
    width: 100%;
    overflow: scroll;
  }
  
   body 
   { 
    background-color: #ea861a !important;
    background-image: url("../images/citrus.avif");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Viga", sans-serif;
   }

    /*----------------------NAVIGATION BAR */
    
    .navbar {
      background-color: #084208;
      border-bottom: 10px dotted #c92324;
      position: sticky;
      top: 0;
            }
          

    #logo {
      color: #c92324;
      font-family: "Viga", sans-serif;
      text-align: left;
      text-shadow: 2px 2px 2px #ea861a;       
          }

     .nav-link {
      color: #f4f7f9 !important; 
      background-color: #c92324;
      text-align: center;
      margin-right: 20px;
      text-transform: uppercase;
      font-family: 'Anek Bangla', sans-serif;
      text-decoration: none;
      letter-spacing: 1px;
      padding: 3px 5px !important;        
    }

      
           
         /*----------------------HERO*/


    .heading-style {
      font-family: "Viga", sans-serif;
      color: #084208;
      font-weight: 500;
      letter-spacing: 1.5px;
          }

    .paragraph-style {
      font-family: 'Anek Bangla', sans-serif;
      color: #084208;
      font-weight: 500;
          }

    #hero {
      background-color: rgba(242, 211, 99, 0.9);
      margin: 5% 10%;  
      text-align: center;
            }


    /*----------------------ABOUT*/

    #facilities-container {background-color: #084208;}

    .facilities { 
      color: #f4f7f9;
      font-family: 'Anek Bangla', sans-serif;
    }

    .facilities-img {
      max-height: 200px;
      border-radius: 50%;
    }

    #about {
      background-color: rgba(242, 211, 99, 0.9);
      font-family: 'Anek Bangla', sans-serif;
      color: #084208;
    }

    #about h4 {
      padding: 5%;
    }

    #address {
      text-align: center;
      background-color: rgba(242, 211, 99, 0.9);
      padding: 2em 0;
      font-family: 'Anek Bangla', sans-serif;
      color: #084208;
    }








      /*----------------------FOOTER*/
     footer {
      width: 100%;
      bottom: 0;
      background-color: #084208;
      color: #f4f7f9;
          }
      
      footer div {
        text-align: center;
      }
          
     .social {
      width: 2.5em !important;
      height: 2.5em !important;
      border-radius: 50% !important;
      background-color: #c92324 !important;
      text-align: center;
      text-decoration: none;
              }     



     /*-------------------MEDIA QUERIES  */  

     @media screen and (max-width: 992px){ 

      html {
        height: 100%;
        width: 100%;
        overflow: scroll;
      }

                 
     } 

    
    
          

